/* General Reset */
body {
  margin: 0 auto; /*fjerner standard margin og centrerer indholdet horisontalt*/
  font-family: 'Roboto'; /*Indstiller skrifttypen til Roboto*/
}

ul {
  list-style: none; /*Fjerner punktopstilling fra lister*/
  padding: 0; /*Fjerner indre afstand */
  margin: 0; /*Fjerner ydre margin*/
}

/* Navigation Bar */
.navigationsbar {
  display: flex; /*Gør navigationsbjælken fleksibel og tilpasser elementerne i en række*/
  width: 100%; /*Sørger for at bjælen fylder hele bredden*/
  justify-content: space-between; /*Fordeler elementerne med plads imellem dem*/
  color: #073419; /*tekstfarve*/
  background: #d1a473; /*Baggrundsfarve*/
}

.nav__links {
  display: flex; /*Gør linksektionen fleksibel og tilpasser elementerne i en række*/
  align-items: center; /*Centrerer elementerne lodret*/
  margin: 0 30px; /*Tilføjer margin til højre og venstre*/
}

.nav__links a {
  color: #fcfaf3; /*Linkfarve*/
  text-decoration: none; /*Fjerner understregning fra links*/
}

.nav__links li {
  margin-left: 25px; /*Tilføjer mellemrumj mellem listeelementerne*/
}

.navigationsbar__logo {
  margin-left: 30px; /*Tilføjer afstand til venstre for logoet*/
  font-family: 'Monsieur La Doulaise'; /*Skrifttype*/
  font-style: italic; /*Font style*/
  color: #fcfaf3; /*Tekstfarve*/
  font-size: x-large; /*Font størrelse*/
  margin: 12px; /*Tilføjer luft omkring logoet*/

}

.kontaktknap {
  background-color: #073419; /*Baggrundsfarve*/
  color: white; /*Tekstfarve*/
  padding: 10px; /*Tilføjer indre padding*/
}

.kontaktknap a {
  color: #fcfaf3; /*Linkfarve*/
}

/* Header Section */
header {
  width: 100vw; /*Fylder hele bredden af viewporten*/
  height: 100vh; /*Fylder hele højden af viewporten*/
  background-position: bottom; /*Placerer baggrundsbilledet nederst*/
  background-size: cover; /*Sørger for at baggrunden fækker hele området*/
  display: flex; /*Gør header fleksibel*/
  align-items: center; /*Centrerer indholdet lodret*/
  justify-content: center; /*Centrerer indholdet vandret*/
  margin: 0; /*Fjerner ydre margin*/
}

.header__content {
  margin-bottom: 150px; /*Tilføjer afstand til bunden*/
  color: #d1a473; /*Tekstfarve*/
  text-align: center; /*Centrerer teksten*/
}

.header__content h1 {
  font-size: 150px; /*Font størrelse*/
  padding-top: 50px; /*Tilføjer indre afstand til toppen*/
  margin-left: 50px; /*Tilføjer margin til venstre*/
  font-family: 'Monsieur La Doulaise'; /*Skrifttype*/
  color: #fcfaf3; /*Tekstfarve*/
  font-style: italic; /*Font style*/
}

.header__content h2 {
  margin-top: 50px; /*Tilføjer afstand til toppen*/
  margin-bottom: 30px; /*Tilføjer afstand til bunden*/
  color: #fcfaf3; /*Tekstfarve*/
  font-style: italic; /*Font style*/
  font-family: 'Roboto'; /*Skrifttype*/
}

.ctn {
  padding: 8px 15px; /*Tilføjer indre afstand rundt om knappen*/
  background: #d1a473; /*Baggrundsfarve*/
  color: #073419; /*Tekstfarve*/
}

.menu-btn {
  position: absolute; /*Positionerer knappen i forhold til sin nærmeste forælder*/
  top: 30px; /*Flytter knappen sagte px fra toppen*/
  right: 30px; /*Flytter knappen sagte px fra højre*/
  width: 40px; /* Gør knappen sagte px bred*/
  cursor: pointer; /*Ændrer markøren til en hånd ved hover*/
}

/* Background for Home */
body.home {
  background-image: url("tasken.jpg"); /*Baggrundsbillede*/
  background-size: cover; /*Sørger for at billede dækker hele baggrunden*/
  background-position: center; /*Centererer billedet*/
  background-repeat: no-repeat; /*Forhindrer gentagelse af billedet*/
}

/*home for phones*/
@media (max-width: 768px) {
  .header-content h1 {
    font-size: 6rem;  /*Reduverer overskriftens størrelse for mindre skærme*/
    margin: 10%; /*Tilføjer margin omkring teksten*/
  }

}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 6rem; /*Fastholder samme størrelse som før*/
  }
}


/* Contact Page Styles */
body {
  background-color: #252222; /*Baggrundsfarve*/
  color: #252222; /*Tekstfarve*/
}

.wrapper {
  display: flex; /*Gør wrapperen fleksibel for at tilpasse indholdet*/
  justify-content: center; /*Centrerer indholdet vandret*/
  align-items: center; /*Centrerer indholdet lodret*/
  min-height: 100vh; /*Giver wrapperen en minimum højde, så den dækker hele skærmhøjden*/
}

.contact__container {
  background: #fcfaf3; /*Baggrundsfarve*/
  padding: 20px 30px; /*Tilføjer indre afstand - top/bund og siderne*/
  max-width: 600px; /*Begrænser containerens bredde*/
  width: 100%; /*Gør containeren fleksibel til mindre skærme*/
  box-shadow: 0 4px 12px #252222; /*Tilføjer en skyggeeffekt*/
  border-radius: 8px; /*Giver runde hjørner til containeren*/
  text-align: center; /*Centrerer teksten indeni containeren*/
  margin: 10vh auto 0; /*Tilføjer 10% margin ovenfor og centrerer containeren horisontalt*/
  color: #252222; /*Tekstfarve*/
}

.contact__container h1 {
  margin-bottom: 20px; /*Tilføjer margin til bunden*/
  font-size: 24px; /*Skriftstørrelse*/
  color: #073419; /*Tekstfarve*/
}

form {
  display: flex; /*Gør formen fleksibel*/
  flex-direction: column; /*Arrangerer indholdet i en kolonne*/
  gap: 15px; /*Tilføjer mellemrum mellem elementer*/
}

.form__group {
  text-align: left; /*Justerer teksten til venstre*/
}

label {
  font-size: 14px; /*Tekststørrelse*/
  font-weight: bold; /*Gør teksten fed*/
  margin-bottom: 5px; /*Tilføjer afstand under labelen*/
  display: inline-block; /*Sikrer at label opfører sig som en blok for korrekt placering*/
}

input, textarea {
  width: 100%; /*Gør input og tekstområde samme bredde som containeren*/
  padding: 10px; /*Tilføjer indre afstand*/
  border: 1px solid #252222; /*Kantfarve*/
  border-radius: 4px; /*Giver rundehjørner til kanten*/
  font-size: 16px; /*Tekststørrelse*/
  background-color: #fcfaf3; /*Baggrundsfarve*/
  color: #252222; /*Tekstfarve*/
}

input:focus, textarea:focus {
  outline: none; /*Fjerner standardfokusrammen*/
  border-color: #073419; /*Kantfarve*/
  box-shadow: 0 0 4px #252222; /*Skyggeeffekt*/
}

textarea {
  resize: vertical; /*Tillader kun vertikal ændring af tekstfeltetsstørrelse*/
  min-height: 100px; /*Sætter minimumshøjde*/
}

button {
  padding: 12px 20px; /*Tilføjer indre afstand top/bund og siderne*/
  background-color: #073419; /*Baggrundsfarve*/
  color: #fcfaf3; /*Tekstfarve*/
  border: none; /*Fjerner kantlinje*/
  border-radius: 4px; /*Giver runde hjørner til knappen*/
  font-size: 16px; /*Tekststørrelse*/
  cursor: pointer; /*Ændrer markøren til en hånd ved hover*/
  transition: background-color 0.3s ease-in-out; /*Tilføjer en overgangseffekt ved hover*/
}

button:hover {
  background-color: #d1a473; /*Baggrundsfarve ved hover*/
}

@media (max-width: 768px) {
  .contact-container {
      padding: 20px; /*Tilpasser containerens indre afstand til mindre skærme*/
  }

  button {
      padding: 10px 15px; /*Reducerer knappens indre afstand for mindre skærme*/
      font-size: 14px; /*Reducerer knappens tekststørrelse for mindre skærme*/
  }
}

/* Portfolio Page */

body {
  background-color: #252222;
  color: #FFFFFF;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #FFFFFF;
  font-size: 3rem;
  margin: 0;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #252222;
}

.image-slideshow {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.image-slideshow .slide.active {
  opacity: 1;
  z-index: 1;
}
.portfolio-section {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  background-color: #fcfaf31a;
}

.portfolio-grid > .grid-gallery {
  display: grid;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-items: center;
}


.portfolio-text {
  background: #d1a473;
  color: #073419;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}
.portfolio-text h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #073419;
}

.portfolio-text p {
  font-size: 2rem;
  line-height: 1.5;
  color: #073419;
}

.portfolio__title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 3rem;
  text-align: center;
  z-index: 2;
  margin: 0;
}

.portfolio-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-images img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
  display: block;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: none;
}

.image-container img.active {
  display: block;
}

.grid-gallery {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-frame {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;     
    border-radius: 8px; 
    box-shadow: 0 4px 8px #252222;
    margin: 20px auto; 
    display: block;    
}

.animation {
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

/*portfolio for phone*/
@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  .portfolio-text h3 {
    font-size: 1.2rem; 
  }

  .portfolio-text p {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  .portfolio-text h3 {
    font-size: 1rem;
  }

  .portfolio-text p {
    font-size: 0.6rem;
  }
}


/* About me */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #252222;
  color: #fcfaf3;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: auto;
  width: 100%;
      overflow-x: hidden;
  }



/* Container */
.page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 3rem;
  height: auto;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.about__profile-picture {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.about__text {
  flex: 1;
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.2rem;
  color: #fcfaf3;
}

/* Skills Section */
.skills, .programs {
  text-align: center;
}

.skills h2, .programs h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skill__list, .program__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.skill__item, .program__item {
  padding: 1rem;
  background-color: #ffb6c1;
  color: #073419;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 4px 8px #252222;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about {
      flex-direction: column;
      text-align: center;
  }

  .profile-picture {
      margin: 0 auto;
  }
}


@media (max-width: 768px) {
    .aboutme {
        padding: 15px;
    }

    .profile-picture {
        width: 120px;
        height: 120px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .skills li {
        font-size: 0.8rem;
    }
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .slideshow {
      aspect-ratio: 2 / 1;
  }
}

@media (max-width: 480px) {
  .grid {
      grid-template-columns: 1fr;
  }

  .slideshow {
      aspect-ratio: 1.5 / 1;
  }
}

/* Footer Section */
.footer {
  background-color: #252222;
  color: #fcfaf3;
  padding: 1.5rem 0;
  font-family: 'Roboto';
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

/* Left Section: Contact Info */
.footer__contact p {
  margin: 2px;
  font-size: 0.9rem;
  padding: 2px;
}

.footer__contact a {
  color: #fcfaf3;
  text-decoration: none;
}

.footer__contact a:hover {
  text-decoration: underline;
}

/* Middle Section: Logo */
.footer__logo h3 {
  margin: 0;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 2.8rem;
  color: #fcfaf3;
  text-align: center;
}

.footer__logo a {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.footer__text {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #fcfaf3; 
  text-align: center;
}


/* Right Section: Social Links */
.footer__social {
  display: flex;
  gap: 1rem;
}

:any-link {
  color: #fdcdd6;
}

.footer__social-link {
  color: #fdcdd6;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: #fdcdd6; 
  text-decoration: underline;
}

/* Responsive Design for Footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer-social {
    justify-content: center;
  }
}
